<div class="App">
  <app-notification></app-notification>
  <div *ngIf="mode() === modeEnum.ShowCase">
    <app-addbutton
      [mode]="mode()"
      (changeMode)="addModeHandler($event)"
    ></app-addbutton>

    <nav>
      <app-list
        [citiesList]="citiesList"
        [activeCity]="activeCity"
        (setNewActiveCity)="setNewCity($event)"
      ></app-list>
    </nav>

    <app-showcase [activeCity]="activeCity"></app-showcase>
  </div>

  <div *ngIf="mode() === modeEnum.Add">
    <app-add-city-form (cancelForm)="cancelFormHandler()"></app-add-city-form>
  </div>
</div>

<router-outlet></router-outlet>
